<!-- https://stackblitz.com/edit/angular-material-file-input-with-form-field?file=src%2Fapp%2Fapp.component.html -->
<div (click)="handleClick($event)">
  <mat-form-field class="w-full cursor-pointer">
    <mat-icon matPrefix class="px-3">{{ icon() }}</mat-icon>
    <input type="text" readonly matInput placeholder="Upload File*" [formControl]="fileName" />
    <input
      type="file"
      hidden
      #fileInput
      (change)="handleFileInputChange()"
    />
    <mat-error>this field is required</mat-error>
  </mat-form-field>
</div>
