<div class="shadow-inner bg-slate-300 w-full h-full flex flex-col">
  <app-display-canvas 
    class="grow"
    [scale]="sliderValue()"
    (context)="onRawImageCanvasContextReady($event)"></app-display-canvas>
  <div class="bg-slate-200 flex items-center gap-x-3 p-3">
    <mat-slider min="0.5" max="5" step="0.01" [disabled]="!hasImageData()" discrete [displayWith]="formatSliderLabel" style="width: 100%;">
      <input matSliderThumb [value]="canvasStore.sliderRawValue()" (valueChange)="onSliderChange($event)" style="width: 100%;">
    </mat-slider>
    <mat-icon>close</mat-icon>
    <input type="number" [value]="canvasStore.sliderMultiplier()" [disabled]="!hasImageData()" (change)="onSliderMultiplierChange($event)" class="scale-multiplier p-1 mat-toolbar border-b-2">
  </div>
</div>
