<mat-progress-bar mode="determinate" [value]="loadingStore.progress()"></mat-progress-bar>
<div class="px-2 py-1 min-h-5">
  <div class="flex justify-between">
    <div>
      {{ loadingStore.header() }}
    </div>
    @if (loadingStore.progress() > 0) {
      <div>
        {{ loadingStore.progress() }}%
      </div>
    }
  </div>
  <div class="grid grid-cols-4">
    <div class="col-span-2">
      {{ loadingStore.message() }}
    </div>
    <div class="col-span-1 text-right">
      @if (loadingStore.eta() !== null) {
        ETA: {{ loadingStore.eta()! | time }}
      }
    </div>
    <div class="col-span-1 text-right">
      @if (loadingStore.timer.time() !== null) {
        {{ loadingStore.timer.time()! | time }}
      }
    </div>
  </div>
</div>
