<div class="flex flex-col h-full justify-between">
  <mat-stepper orientation="vertical" linear #stepper>
    <mat-step [stepControl]="fileForm" label="Upload an image">
      <form [formGroup]="fileForm" class="my-3 flex flex-col gap-y-3">
        <app-file-input 
          formControlName="file" 
          label="Upload File" 
          icon="attach_file" 
          class="w-full"></app-file-input>
        <div class="w-full flex justify-between">
          <button mat-raised-button color="primary" (click)="reset()">Reset</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
  
    <mat-step [stepControl]="kmeansForm.form" label="Define K-means parameters">
      <form [formGroup]="kmeansForm.form" class="my-3 flex flex-col gap-y-3">
        <mat-form-field class="w-full">
          <mat-label class="w-full">Number of Clusters</mat-label>
          <input matInput formControlName="clusters" class="w-full" type="number">
          <mat-hint>How many color clusters to calculate</mat-hint>
        </mat-form-field>
    
        <mat-form-field class="w-full">
          <mat-label class="w-full">Iterations</mat-label>
          <input matInput formControlName="iterations" class="w-full" type="number">
          <mat-hint>How many times the algorithm will calculate the clusters</mat-hint>
        </mat-form-field>
    
        <div class="w-full flex justify-between gap-x-3">
          <button mat-raised-button color="primary" (click)="reset()">Reset</button>
          <div class="flex gap-x-3">
            <button mat-button matStepperPrevious>Previous</button>
            <button mat-raised-button color="primary" [disabled]="!isReadyForKmeans()" (click)="generateKmeansImages()">Generate</button>
          </div>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
  <!-- <app-loading-bar></app-loading-bar> -->
</div>
