<div class="flex flex-col h-full justify-between">
  <mat-stepper orientation="vertical" linear #stepper>
    <mat-step [stepControl]="fileForm" label="Upload an image">
      <form [formGroup]="fileForm" class="my-3 flex flex-col gap-y-3">
        <app-file-input 
          formControlName="file" 
          label="Upload File" 
          icon="attach_file" 
          class="w-full"></app-file-input>

        <!-- Buttons -->
        <div class="w-full flex justify-between">
          <button mat-raised-button color="primary" (click)="reset()">Reset</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
  
    <mat-step [stepControl]="kmeansForm.form" label="Define K-means parameters">
      <form [formGroup]="kmeansForm.form" class="my-3 flex flex-col gap-y-3">
        <mat-form-field class="w-full">
          <mat-label class="w-full">Number of Clusters</mat-label>
          <input matInput [formControl]="kmeansForm.form.controls.clusters" class="w-full" type="number" min="1" max="50">
          <mat-hint>How many color clusters to calculate</mat-hint>
        </mat-form-field>
    
        <mat-form-field class="w-full">
          <mat-label class="w-full">Iterations</mat-label>
          <input matInput [formControl]="kmeansForm.form.controls.iterations" class="w-full" type="number">
          <mat-hint>How many times the algorithm will calculate the clusters</mat-hint>
        </mat-form-field>
    
        <div class="bg-slate-100 rounded p-3 flex flex-col gap-2">
          <div class="flex gap-1">
            <div>Initial Centroids</div>
            <mat-icon inline matTooltip="Click on a centroid to select it. While selected, hover over a desired color on the picture and click again to change the centroids color">info</mat-icon>
          </div>
          <app-centroid-selector></app-centroid-selector>
          <div class="text-xs">The closer the initial centroid colors are to your desired output colors, the better</div>
        </div>

        <!-- Buttons -->
        <div class="w-full flex justify-between gap-x-3">
          <button mat-raised-button color="primary" (click)="reset()">Reset</button>
          <div class="flex gap-x-3">
            <button mat-button matStepperPrevious>Previous</button>
            <button mat-raised-button color="primary" [disabled]="!isReadyForKmeans()" (click)="generateKmeansImages()">Generate</button>
          </div>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
  <div class="flex flex-col gap-2 bg-slate-100 border-r pb-1 transition-transform duration-500">
    <app-loading-bar class="bg-slate-200"></app-loading-bar>
    <app-statistics class="px-2"></app-statistics>
  </div>
</div>
